@import './base.css';

#app {
  max-width: 100vw;
  min-height: 100vh;
}

/*字体缩放*/
body {
  -webkit-text-size-adjust: 100% !important;
  text-size-adjust: 100% !important;
  -moz-text-size-adjust: 100% !important;
}

/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul li {
  list-style: none;
}
input {
  background: none;
  border: none;
  outline: none;
}
:focus {
  outline: none;
}
button {
  background-color: transparent;
  outline: none;
  border: none;
}
button,
font {
  font: inherit;
}
